{% extends 'base.html.twig' %}

{% block title %}Accueil - BidCardCoin{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Site de vente aux enchères BidCardCoin</h1>
    <p>Bienvenue sur les sites de ventes aux enchères BidCardCoin, vous pouvez regarder les différents lots proposés à la vente,
    ainsi que proposer vos propres produits. Ils seront estimer par nos commissaires priseurs avant leur potentiel mise en vente.</p>
</div>
{% endblock %}
