{% extends 'base.html.twig' %}

{% block title %}Ajout Vente{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Ajout d'une vente</h1>

        {{ include('vente/_form.html.twig') }}

        <a class="btn btn-primary mt-2" href="{{ path('vente_index') }}">Retour</a>
    </div>
{% endblock %}
