{% extends 'base.html.twig' %}

{% block title %}Les Enchères{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Listes des enchères en cours et à venir</h1>
        <p>Ici, vous pouvez retrouver toutes les ventes ou futur vente prévu avec leur dates et lieux, vous pouvez allez
        voir les détails de vente en cliquant sur les cartes.</p>
    </div>

{% endblock %}
