{% extends 'base.html.twig' %}

{% block title %}Modifier Vente{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">Modifier la Vente</h1>

        {{ include('salle_enchere/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary mt-2" href="{{ path('salle_enchere_index') }}">Retour</a>

        {{ include('salle_enchere/_delete_form.html.twig') }}
    </div>
{% endblock %}
